* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: #d5d4d497;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
}


.container {
  width: 100%;
  max-width: 400px;
  /* border: solid 2px black; */
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.logo {
  text-align: center;
  margin-bottom: 40px;
}

.formulario {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

label {
  font-size: 0.75rem;
  text-transform: uppercase;
  color: #3f51b5;
  font-weight: 600;
}

.input-group {
  background: #f1f1f1;
  border-radius: 10px;
  padding: 12px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.input-group input {
  border: none;
  background: transparent;
  width: 100%;
  font-size: 1rem;
  outline: none;
}

.icon {
  font-size: 1.1rem;
  color: gray;
  cursor: default;
}

button {
  background: #2f51e8;
  color: #fff;
  padding: 15px;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition:  0.3s ease;
}

button:hover {
  background: #1d39c4;
}

/* Responsivo */
@media (max-width: 480px) {
  
  button {
    padding: 14px;
    font-size: 0.95rem;
  }
}
